<app-header></app-header>
<div class="container">
  <h1>About Page</h1>
  <div class="jumbotron">
    <h1 class="display-4">About us, Here we GO!!!</h1>
    <p class="lead">This is a simple about page, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  <!-- <app-card></app-card> -->
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsum natus voluptatum recusandae iste quibusdam, illum voluptate eum laboriosam dolorum ex suscipit amet quod autem sequi tempora voluptatem dignissimos molestias.</p>
  <app-table></app-table>
</div>
<app-footer></app-footer>
